.form{
    margin-top: 5%;
    margin-left: 40%;
    width: 25%;
}

.usernameContainer{
    display: flex;
    flex-direction: row;
    
}

.searchBtn {
    margin-left: 20px;
}
.resultContainer{
    margin-top: 5%;
}